<%- partial('_partial/head') %>
<body>
  <div class="videocontainer">
    <video class="fullscreenvideo" playsinline="" autoplay="" muted="" loop="">
    <source src="/img/bgvideo.13edb8ad.mp4" type="video/mp4"><!-- 在这改路径即可直接食用 -->
    </video>
    </div>
  <div id="container">
    <div id="particles-js"></div>
    <div class="left-col">
    <%- partial('_partial/left-col', null, {cache: !config.relative_link}) %>
    </div>
    <div class="mid-col">
      <%- partial('_partial/mobile-nav', null, {cache: !config.relative_link}) %>
      <div class="body-wrap"><%- body %></div>
      <%- partial('_partial/footer') %>
    </div>
    <%- partial('_partial/after-footer') %>
  </div>
</body>
</html>